{% extends 'base.html' %}
{% block content %}

<h1 class="mt-4 mb-4">About Us</h1>
<h3>This is a Yamaan Faraz YF trademark Job application app.</h3>
<h3>This app takes your name, email , the date you will be available for the Job and your occupation and will send a mail to your Email and then this app will submit your information in a about page.</h3>
<h3>Here are the things you can do on this app:</h3>
<h5>1. Write your name, email, date and occupation.</h5>
<h5>2. Can see about this app.</h5>
<h5>3. Can contact us.</h5>

{% endblock %}